version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: interview-project:latest
    container_name: interview-project
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - kafka-net

networks:
  kafka-net:
    external: true
